<h3>管理者ページ
</h3>

<div class="manager-menu">
  <ul>
    <li>
    <%= link_to "イベント作成", new_event_path, method: :get %>
    </li>
    <li>
    <%= link_to "イベント検索・編集", root_path%>
    </li>
    <li>
    <%= link_to "生徒情報検索・編集", root_path%>
    </li>
  </ul>
</div>