/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */
.inner {
  height: 80px;
  width: 100vw;
  display: flex;
  font-size: 1.25rem;
  background-color: #f7efa2;
  text-align: center;
}

/* すみた塾 */

.pagename {
  width: 25%;
  margin: auto 10px;
  padding: auto;
  text-align: center;
  justify-content: center;
  color: ＃555;
  font-size: larger;
}

h1 h2 {
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  
}

/* すみた塾 */

/* メニュー */
.nav {
  width: 75%;
  padding: auto;
  margin: auto;
}

li {
  font-size: larger;
  margin: auto;
  text-align: center;
}

.top-menu {
  display: flex;
  padding: 5px;
  /* margin: 20px; */
  justify-content: space-around;
}
/* メニュー */
/* ヘッダー */

/* フッター */
.footer {
  height: 30px;
  text-align: center;
  justify-content: center;
  background-color: #b0717e;
}
/* フッター */


/* メインボディ */
.main_body {
  width: 100vw;
  padding: 5px;
  /* height: ; */
  background-color: #FFF8DC;
}

/* メインボディ */

.field{
  margin: 10px 0;
}

.form__btn{
  display: inline-block;
  margin-bottom: 10px;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto;
  gap: 10px;

}

.list {
  border: black solid 1px;
  width: 400px;
  height: auto;
}

.user-list {
  display: flex;
  /* border: solid black 1px; */
  padding: 15px;

}

.list-title {
  display: flex;
}

.user-list {
  background-color: blanchedalmond;
}

.actions {
  margin-bottom: 10px;
}


/* ユーザーページ */
.prof-main {
  padding: 10px;
}

.profile {
  width: 80%;
  padding: 15px;
}

.profile,
.score-main{
  margin: 5px;
}

.prof-nb, 
.prof-address,
.score-points,
.score-each {
  display: flex;
} 

.prof-name,
.prof-pcode,
.grade-term {
  height: 50px;
  padding: 10px;
  width: 20%;
  border: solid 1px black;
}

.prof-bday,
.prof-add,
.points {
  height: 50px;
  padding: 10px;
  width: 80%;
  border: solid 1px black;
  margin-right: 10px;
}

.profile h2 {
  margin: 0 20px 10px 0;
}

.edit-btn,
.delete-btn,
.new-btn {
  margin: 5px 10px;
  height: 40px;
  padding: auto;
  font-size: 16px;
  border: black solid 1px;
  width: 150px;
  display: block;
  border-radius: 0.5rem;
  justify-content: center;
  text-align: center;
}

.edit-btn {
  background-color: blanchedalmond;
}

.delete-btn {
  background-color: #ddd;
}

.new-btn {
  background-color: #f7efa2;
  /* margin-left: 10px; */
}

.score-wrapper{
  /* margin: 5px 0; */
}

.points {
  padding: 10px;
  width: 60%;
  border: solid 1px black;
}

.score-each {
  padding: 10px;
}